body,button,input,select {
    font-size: 20px;
    line-height:24px
}

body {
    background-color: #E8EBEB;
}

table {
    font-size: 18px;
}

hr {
    border:none;
    border-top:2px dotted #535759;
}

button {
    min-width: 45px
}

label {
    color: white;
    background-color: green;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 6px;
}

label.decrease {
    background-color: green;
}

label.increase {
    background-color: red;
}

label.keepsame {
    background-color: grey;
}

div.jingzhi {
    font-size: 13px;
}

div.general_root {
    font-size: 20px;
    line-height:24px
}

div.general_earned {
    font-size: 13px;
}

div.general_earned label{
    padding-left: 3px;
    padding-right: 3px;
    margin-left: 2px;
    margin-right: 2px;
    border-radius: 4px;
}

div.total_earned {
    font-size: 13px;
    padding-top: 5px;
}

div.total_earned label {
    margin-left: 5px;
}