#
__pycache__/
utils/_pwd.py
summary/json/*.json
*.zip
*.xpi
*.log
.vs/
*.pyc
*_local.py
**/.DS_Store
config.json
.vscode/
*.egg-info/
node_modules/
package-lock.json
pnpm-lock.yaml
static/src/js/echarts.js
