body {
    margin: 20px 50px;
}

hr {
    border:none;
    border-top:2px dotted #535759;
}

a {
    margin-left: 2px;
    margin-right: 2px;
}

.radio_anchor_div a {
    display: inline-block;
    padding: 2px 10px;
    margin: 0;
    line-height: 28px;
    border: 1px solid lightgray;
}

.radio_anchor_div a.highlight {
    background: #555;
}

.radio_anchor_div a.highlight:link, .radio_anchor_div a.highlight:visited {
    color: white;
}

.sortableTable, .sortableTable td, .sortableTable th {
    border: 1px solid grey;
}

.sortableTable {
    border-collapse: collapse;
}

.sortableTable th {
    background-color: lightgray;
}

.strategy_border_div {
    border-left: 5px solid grey;
    margin-top: 10px;
    padding-left: 5px;
}

.strategy_transfer_box {
    border-left: 2px dotted grey;
    margin-top: 8px;
    padding-left: 2px;
}