{% extends "layout.html" %}

{% block additionalscripts %}
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='src/js/fund.utils.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='src/js/fund.summary.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='src/js/fund.chart.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='src/js/fund.details.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='src/js/fund.stats.js') }}"></script>
  <script type="text/javascript">
    var ftjson = {{ fundsJson|tojson|safe }};
    var all_hist_data = {{ hist_data_arr|tojson|safe }};
  </script>
{% endblock %}

{% block pagestyles %}
  <link href="{{ url_for('static', filename='src/css/fund.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
    {% if session['logged_in'] %}
        <div>
            <button onclick="location.reload()">Reload</button>
            <button id="btn_swith_show_all" onclick="rtHelper.forceFetchAll()">Fetch All</button>
        </div>
    {% else %}
        <div class="loginsignup">
            <span>Already have an account? <a href="{{ url_for('login') }}">Log in.</a><span>
            <a href="{{ url_for('guest') }}">Visit as guest.</a>
        </div>
    {% endif %}
    
{% endblock %}
